.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
 
  }
  
  .info {
    display: flex;
    flex-direction: column;
  }
  
  .text {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
  }
  
  .button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #f5f5f5;
    border-radius: 50%;
  }
  
  .icon {
    margin-right: 5px;
  }
  
  .deleteIcon {
    color: #d9534f;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .button:hover .deleteIcon {
    color: red;
  }